html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.outer-div{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url("/images/background/login-formbg.svg");
background-repeat: no-repeat;
background-size: cover;
 

}
.login-form{
background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
height: 70%;
width: 65%;
display: flex;
flex-direction: column;
text-align: center;
overflow: hidden;
}
.coaching-name{
    
      width: 100%;
    color: white;
    border-bottom: 1px solid ;
}
.main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}
.main-form{
    margin-top: 4%;
    width: 50%;
    height: 70%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

input{
    border-radius: 21px;
   padding: 13px;
   width: 90%;
}
button {
    border-radius: 39px;
    padding: 18px;
    background-color: rgb(179, 179, 63); 
    color: white;
    border: none;
}

.img-section{
    width: 50%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-section img{
    width: 100%;
    height: 100%;
}
