<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/main/resources/static/css/login.css">
</head>

<body>
    <div class="outer-div">
        <div class="login-form">
            <div class="coaching-name">
                <span>
                    <img src="/main/resources/images/icons/logo.png" alt="coaching icon" height="100px"
                        width="80px" style="border-radius: 100%;">
                </span>
                <h2>Coaching.Keeda</h2>
            </div>
            <div class="main-content">
                <div class="main-form">

                    <form>
                     
                        <label for="email">Email Id</label><br><br>
                        <input type="email" id="email" name="email" placeholder="Your Email Address" required>
                        <br>
                        <br><label for="password">Password</label>
                        <br><br> <input type="password" id="password" placeholder="Your password" required>
                        <br><br><button type="submit">Submit</button>
                    </form>
                </div>
                <div class="img-section">
                    <img src="" alt="login-form img" height="100%" width="100%">
                </div>
            </div>
        </div>
    </div>
</body>

</html>