<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="outer-div">
        <div class="login-form">
            <div class="coaching-name">
                <span>
                    <img th:src="@{/images/icons/logo.png}" alt="coaching icon" height="100px"
                        width="80px" style="border-radius: 100%;">
                </span>
                <h2>Coaching.Keeda</h2>
            </div>
            <div class="main-content">
                <div class="main-form">

                    <form>
                     
                        <label for="email">Email Id</label><br><br>
                        <input type="email" id="email" name="email" placeholder="Your Email Address" required>
                        <br>
                        <br><label for="password">Password</label>
                        <br><br> <input type="password" id="password" placeholder="Your password" required>
                        <br><br><button type="submit">Log in</button>
                    </form>
                </div>
                <div class="img-section">
                    <img th:src="@{/images/login-page/login-page.jpg}" alt="login-form img">
                </div>
            </div>
        </div>
    </div>
</body>

</html>